.header{
    background-color: bisque;
    margin: 20px;
    text-align: center;
}
.Container{
    font-size: 20px;
    color: burlywood;
    background-color: dimgray;
    width: 25%;
    height: 1000px;
}
.Submit{
    font-size: 30px;
    color: fuchsia;
    background-color: aqua;
    width: 1000px;
    height: 1500px;
}